*{
    font-family: din-round, sans-serif;
}

.ff{
    font-family: din-round, sans-serif;
}

.letter_cards {
  border: 1px solid grey;
  border-radius: 15%;
  height: 5rem;
  width: 5rem;
  margin: 0.5rem;
  align-items:center;
  /* padding: 1%; */
}

.letter_Head{
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: center;
}
.letter_Head_below{
    font-size: 19px;
    line-height: 1.4;
    text-align: center;
    text-wrap: wrap;
}

.large_buttons{
    width: 300px;
    height: 50px;
    /* display: flex; */
    justify-content: center;
    text-transform: uppercase;
}


.nav_li{
    height: 52px;
    width: 100%;
    padding: 4%;
    /* border: 2px solid rgb(63, 133, 167); */
    text-decoration: none;
    font-family: din-round, sans-serif;
}


.nav_li .nav_links{
    display: flex;
    /* justify-content: center;
     */
align-items: center;
    width: 97%;
    height: 46px;
    text-decoration: none;
    color: aliceblue;
    /* border: 2px solid rgb(63, 133, 167); */
    border-radius: 12px;
    padding: 6px;
}


.nav_li .nav_links:hover {
   background-color: rgb(32, 47, 54);
}
.scorebar{
    display: flex;
    border-radius: 20px;
    background-color:rgb(55,70,79) ;

    width: 207px;
    height: 18px;

}
.scorebarmain{
    display: flex;
    border-radius: 20px;
    background-color:rgb(55,70,79) ;

    width: 345px;
    height: 18px;

}

.navlinks_img{
    width: 32px;
    height: 32px;
    margin-right: 20px;
    float: left;
}

.navlinks_text{
    font-size: 14px;
    text-align: start;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;


}
.quest_for_welcome{
    width: 576px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.quest_for_welcome_inside{
    width: 576px;
    height: 200px;

}
.text_Inside_right_div{
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    font-family: din-round, sans-serif;
}


.mehandi_button{
    background-color: rgb(124 211 51);
    /* width: 300px; */
    height: 50px;
    border-radius: 20px;
}
.Light_mehandi_bg{
    background-color: rgb(124 211 51);
    /* height: 50px; */
    border-radius: 20px;
}
.light_blue_button{
    background-color: rgb(73, 192, 248);
    height: 50px;
    border-radius: 20px;
}

.right_bottom_text{
    color: rgb(82, 101, 109);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.levels_in_learn{
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.levels{

    display: flex;
    /* flex-direction: row; */
}
.start_img{
    width: 60%;
    height: 60%;
    z-index: 2;
}
.forwaedarrow_img{
    width: 60%;
    height: 60%;
    z-index: 2;
}

.Unit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer_border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 93px;
    background:rgb(55, 70, 79);
    border-radius: 61%;
}

.bg_to_img{
    width: 70px;
    height: 70px;
    /* border:5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62%;
    background-color: rgb(124 211 51);
    z-index: 0;
    box-shadow: 0px 0px 0px -6px  rgb( 88, 204, 2);
}

.black_border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background:rgb(16, 21, 24);
    border-radius: 61%;
    /* box-shadow: 0px 6px 0px 0px  rgb(0, 0, 0); */
}
.bg_to_img_of_not_active_level{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background:rgb(55, 70, 79);
    border-radius: 61%;
}


.lcards{
    
}